body {
  background-color: #CDF670;
}
p {
  font-family: verdana, arial, sans-serif;
}
h1 {
  font-family: georgia, "Times New Roman", serif;
}
h2 {
  font-family: georgia, "Times New Roman", serif;
}
.first {
  display: flex;
}
.css1 {
  padding: 25px;
}
.hmtl1 {
  padding: 25px;
}
a {
  color: darkgreen;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
}
